.notregistered{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: bisque;
    box-shadow: 0 0 40px 5px red;
}
