.itemlist{
  position: relative;
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "Arial", "sans-serif";
  background-color: #f2f2f2;
}
.wait{
  text-align: center;
  font-family: "Arial", "sans-serif";
}
