.itembar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid lightblue;
  margin: 5px;
  width: 90%;
  border-radius: 5px;
  background-color: white;
}
.itembar:hover{
  outline: 2px solid lightblue;
}
.itemcompo{
  height: 40px;
  margin:0 10px;
  text-align: center;
  padding: 8px;
}
