.container{
    height: 400px;
    width: 400px;
    display: flex;
    border: 1px solid red;
    flex-direction: column;
}

.message{
    border: 1px solid blue;
    height: 400px;
    width: 100%;
}

.sender{
    
}

.entermes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entermes input{
    height: 30px;
    border: none;
}

.entermes input[type=text]{
    box-shadow: 0 0 2px 2px blue;
    width: 90%;
    z-index: 2;
}
