.diaHead{
  width:350px;
  height: 225px;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #c4c4c4 ;
}
.item{
  float:left;
  height:225px;
  width:190px;
}
.details{
  float:left;
  height:225px;
  width:160px;
  font-size: 12px;
  text-align: center;
 padding-top: 20px;

}
p{
  margin-left: 10px;
  font-family: Andale Mono, monospace;
  color:rgb(170,170,170);
}

p.pro{
   font-size: 15px;
   font-family: cursive;
   font-weight: bold;
   color:black;
}
span{
   padding: 5px;
  font-family: monospace;
}
.pr{
  color:rgb(194, 156, 19);
  font-weight: bolder;

}
.yr{
  color:rgb(40, 224, 215);
  font-weight: bold;

}
.btn-dark{
  background-color: black;
  margin-left: 10px;
}
