#title{
   color:#000416;
 font-size:22px;
 font-family:Segoe UI;
 font-weight:bold;
text-align: center;
margin-top:10px;
}
.nav-item {
    color:#414244;
    font-size:20px;
    font-family:Segoe UI;
    font-weight:500;
    margin-left: 40px;
}

.nav-link{
    color:#414244;
}
.nav-link:hover {
    color:black;
}