body{
  background-color: #000000;
}
input.form-control{
  border: 3px solid #00C2FF;
}
div.preview{
  margin-top: 10px;
  margin-bottom: 50px;
  height: 600px;
  background-color:gray;
  position:relative;
}
img.bk,img.nt{
  position: absolute;
}
img.bk{
  top:250px;
}
img.nt{
 top:250px;
 right:0px;
}
.search{
  float: left;
  margin-left: 225px;
}
.form-inline{
  width:1000px;
}
img.pro{
  width:40px;
  height:40px;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 5px;
  margin-left:125px;
}
